.hero_section_flex {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2%;
}

.hero-text {
    font-size: 57px;
    margin-top: 16%;
}

.hero-form {
    margin-right: 20%;
}

.hero_section_services_frame {
    background-image: url(https://images.pexels.com/photos/417430/pexels-photo-417430.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
}

.hero_section_services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: orangered;
    background-size: cover;
    color: #ffffff;
    opacity: 0.85;
}


.hero_section_services div {
    margin: 13%;
}