.service-card {
    height: 220px;
    width: 42%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(227, 232, 250);
    margin: 2%;
}

.services img {
    height: 190px;
    width: 150px;
    margin: 10px;
    border-radius: 10px;
    margin-left: 15px;
}