.btn-custom {
  background-color: orangered;
  color: white;
  border: 3px solid orangered;
  padding: 8px;
  border-radius: 8px;
  transition: 0.4s;
}

.btn-custom-outline {
  border: none;
  border: 3px solid orangered;
  padding: 8px;
  font-weight: 400;
  border-radius: 8px;
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
  color: orangered;
  transition: 0.4s;
}

.btn-custom:hover {
  background-color: white;
  color: orangered;
}

.btn-custom-outline:hover {
  background-color: orangered;
  color: white;
}

.text_orangered_span {
  background-image: linear-gradient(rgba(255, 68, 0, 0.973), orangered);
  background-size: 100% 30px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  display: inline-block;
}

.heading {
  font-size: 55px;
}